<%- include("./src/navbar") %>

<title>KeyBot | <%= title || "login" %></title>

<% if(guild){ %>
  <div class="text-center text-light" style="padding-top: 70px;">
    <div class="p-3 text-center" style="padding-top: 70px; background-color: #3B465E;">
      <% if (icon) { %>
        <img class="rounded-circle" width="100px" style="opacity: 1;" src="<%= icon %>"> 
      <% } else { %>
        <canvas class="rounded-circle" width="100px" height="100px" style="background-color: #36393F;" id="<%= guild.id %>"></canvas>
        <script>
          function createIcone() {
            const nameAcronym = document.getElementById("<%= guild.id  %>").getContext('2d');
            let guildName = "<%= guild.name.split(/\s/).reduce((response,word)=> response+=word.slice(0,1),'')  %>";
            nameAcronym.font = `30px Arial`;
            nameAcronym.textAlign = "center";
            nameAcronym.fillStyle = "#DCDDDE";

            nameAcronym.fillText(guildName, 50, 60);
          };
          createIcone();
        </script>
      <% } %>
      <br>
      <br>
      <h3 class="mb-1" style="display: inline;"><%= guild.name %></h1>
    </div>
    
    <div class="container text-center" style="padding-top: 150px;">
      <span class="text-light" style="font-size: 30px;">You must login to proceed!</span><br><br>
      <button id="login" class="btn btn-primary" style="font-size: 30px; padding: 20px; border-radius: 30px;"><i class="fab fa-discord"></i> Login with discord</button>
    </div>
  </div>
<% }else{ %>
  <div class="container text-center" style="padding-top: 350px;">
    <span class="text-light" style="font-size: 30px;">You must login to proceed!</span><br><br>
    <button id="login" class="btn btn-primary" style="font-size: 30px; padding: 20px; border-radius: 30px;"><i class="fab fa-discord"></i> Login with discord</button>
  </div>
<% } %>